<?xml version="1.0"?>
<launch>
  <!-- https://wiki.ros.org/roslaunch/XML/node -->
  <!-- https://wiki.ros.org/roslaunch/XML/rosparam -->
  <!-- https://wiki.ros.org/roslaunch/XML#substitution_args -->
  <!-- https://answers.ros.org/question/37916/when-to-use-param-and-rosparam-on-launch-file/ -->
  <!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node">
    <!-- depends on different environment, joy can have different index, can be found by command ls /dev/input/.
         and referred by jsX. after known which index you want to use, replace below index, value="/dev/input/jsX", with that. -->
    <param name="dev" type="string" value="/dev/input/js1" />
    <!-- due to the joy usually cannot reset to 0, we need a threshold for that which is in percentage-->
    <param name="deadzone" value="0.20" />
  </node>

  <arg name="parameters_file" default="params.yaml"/>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find f1tenth_simulator)/maps/Gulf-Air-Bahrain.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <!-- Launch the Random Walker Node -->
  <node pkg="f1tenth_simulator" name="random_walker" type="random_walk" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <!-- Launch the Keyboard Node -->
  <node pkg="f1tenth_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <node pkg="f1tenth_simulator" name="MPC_red" type="MPC_red.py" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <node pkg="f1tenth_simulator" name="LSTM_overtake_red" type="LSTM_overtake_red.py" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/$(arg parameters_file)"/>
  </node>

  <!-- ***Put launch command for new planner here:-->
  <!-- Launch the New Planner Node -->
  <!--   <node pkg="f1tenth_simulator" name="new node's name" type="new file name" output="screen">
          <rosparam command="load" file="$(find f1tenth_simulator)/params.yaml"/>
  	 </node>    -->

  

</launch>
